{% load static %}

<html>
    <head>
        <meta charset = "utf-8">

        {% block title %}
        {% endblock %}

        <link rel = "icon" href = "{% static 'logo.png' %}" type = "image/x-icon">
        <link rel = "stylesheet" href = "{% static 'styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>

    <body>
    <!-- NAVBAR -->
        <nav id="bordura" class="navbar navbar-expand-lg navbar-light bg-light border" style="height: 7%">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'homepage' %}">
                    <img src="{% static 'logo_title.png' %}" alt="" width="120" height="60" class="d-inline-block align-text-center">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hey, {{ request.user.first_name }}!
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'accounts:user_account' username=request.user.username %}">See profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log Out</a> </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="d-flex">
                        {% if request.user.is_authenticated %}
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                                <!-- BUTON PT OFFSCREEN -->
                                <a class="btn btn-primary" style="padding:10px; {#  #}
                                      margin-left:8px" data-bs-toggle="offcanvas" href="#offcanvasExample" {#  #}
                                        role="button" aria-controls="offcanvasExample">Notifications</a>
                            </form>
                        {% else %}
                            <form class = "site-form" action = "{% url 'accounts:login' %}" method="post">
                                {% csrf_token %}
                                {{ user_form }}
                                <input type = "submit" value = "Log In">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        {# Notificari #}
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notificarile tale</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <li class="list-group-item">
                        {% for friend_request in request.user.To.all %}
                            <div style="border-radius: 4px;word-break: normal;">
                                <img style="height: 40px; width:40px;margin:10px;" src="{{ friend_request.user_from.profile.avatar.url }}">
                                <a href="{% url 'accounts:user_account' username=friend_request.user_from.username %}">{{ friend_request.user_from.get_full_name }}</a>
                                <p style="display: inline">wants to be friends with you!</p>
                                <p style="margin-left:10px;"><br>How will you respond?</p>
                                    <form id = "accept-friend-request" method="post" action="{% url 'accounts:accept_friend_request' request_id=friend_request.id %}">
                                        {% csrf_token %}
                                    </form>
                                    <form id = "decline-friend-request" method="post" action="{% url 'accounts:decline_friend_request' request_id=friend_request.id %}">
                                            {% csrf_token %}
                                    </form>
                                <button form = "accept-friend-request" style="margin:10px;" type="submit" class="btn btn-success">Accept</button>
                                <button form = "decline-friend-request" style="margin:10px;" type="submit" class="btn btn-danger">Reject</button>
                            </div>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        {% for notification in request.user.notification_set.all %}
                            <div style="border-radius: 4px;word-break: normal;">
{#                                <img style="height: 40px; width:40px;margin:10px;" src="{{ friend_request.user_from.avatar.url }}">#}
{#                                <a href="{% url 'accounts:user_account' username=friend_request.user_from.username %}">{{ friend_request.user_from.username }}</a>#}
                                <p style="display: inline">{{ notification.text }}</p>
{#                                <p style="margin-left:10px;"><br>How will you respond?</p>#}
                            </div>
                        {% endfor %}
                    </li>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div style=" height: 93%;" class="row content">

                {% block content %}
                {% endblock %}

                <!-- PRIETENII -->
                {% if request.user.is_authenticated %}
                    <div style="overflow-y: auto; border-radius: 4px; height: 100%; word-break: normal; margin-top: 10px" class="col-sm-2 bg-light border">
                        <h2 style = "text-align: center">Friends</h2>
                        <div class="list-group">
                            {% for friend in request.user.groups.all.0.user_set.all %}
                                {% if friend.username != request.user.username %}
                                    <a href="{% url 'accounts:user_account' username=friend.username %}" class="list-group-item list-group-item-action">{{ friend.get_full_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{#        <!-- FOOTER IN CAZ CA NE TREBUIE -->#}
{#        <footer style="border: 2px solid red; border-radius: 4px; word-break: normal;" class="container-fluid">#}
{#            <p>Footer Text</p>#}
{#        </footer>#}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" {#  #}
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" {#  #}
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>