{% extends 'base_layout.html' %}

{% block content %}
    <div style="border-radius: 4px; overflow-y: auto; word-break: normal;" class="col-sm-12">
        <h2 style = "text-align: center; color: darkgray">Jocuri</h2>
        <ul class="list-unstyled">
            <li class="d-flex media">
                <img style="width:80px;height:80px;margin-right:10px;" src="https://www.htmlgames.com/uploaded/game/thumb200/skislalom200.jpg" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" style="color: darkgray">Ski Slalom</h5>
                            Try to get as far as possible and get the biggest score!<br>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Launch demo modal
                            </button>


                            <div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">


                                        <div style="background-color:#444;" class="d-flex justify-content-center modal-body">
                                            <script src="https://cdn.htmlgames.com/embed.js?game=SkiSlalom&amp;bgcolor=white"></script>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
            </li>
            <li class="d-flex media my-4">
                <img style="width:80px;height:80px;margin-right:10px;" src="https://www.htmlgames.com/uploaded/game/thumb200/farmgirl200.jpg" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" style="color: darkgray">Farm Girl</h5>
                        Help the farm girl in this match 3 game!<br>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                Launch demo modal
                </button>


                <div class="modal fade bd-example-modal-xl" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">


                                        <div style="background-color:#444;" class="d-flex justify-content-center modal-body">
                                            <script src="https://cdn.htmlgames.com/embed.js?game=FarmGirl&amp;bgcolor=white"></script>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

            </li>
            <li class="d-flex media">
                <img style="width:80px;height:80px;margin-right:10px;" src="https://www.htmlgames.com/uploaded/game/thumb200/emojimatch200.jpg" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" style="color: darkgray">List-based media object</h5>
                Collect the big emoji by matching the smaller ones<br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                Launch demo modal
                            </button>


                            <div class="modal fade bd-example-modal-xl" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">


                                        <div style="background-color:#444;" class="d-flex justify-content-center modal-body">
                                            <script src="https://cdn.htmlgames.com/embed.js?game=EmojiMatch&amp;bgcolor=white"></script>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
            </li>

            <li class="d-flex media my-4">
                <img style="width:80px;height:80px;margin-right:10px;" src="https://www.htmlgames.com/uploaded/game/thumb200/dailytrafficjam200.jpg" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" style="color: darkgray">Daily Traffic Jam</h5>
                        New traffic puzzles ready for you every single day!<br>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                                Launch demo modal
                </button>


                <div class="modal fade bd-example-modal-xl" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">


                                        <div style="background-color:#444;" class="d-flex justify-content-center modal-body">
                                            <script src="https://cdn.htmlgames.com/embed.js?game=DailyTrafficJam&amp;bgcolor=white"></script>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

            </li>

            <li class="d-flex media">
                <img style="width:80px;height:80px;margin-right:10px;" src="https://www.htmlgames.com/uploaded/game/thumb200/fourseasonsmahjong200.jpg" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" style="color: darkgray">Four Seasons Mahjong</h5>
                        A very relaxing game of mahjong that takes you through the whole year!<br>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                                Launch demo modal
                </button>


                <div class="modal fade bd-example-modal-xl" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">


                                        <div style="background-color:#444;" class="d-flex justify-content-center modal-body">
                                            <script src="https://cdn.htmlgames.com/embed.js?game=FourSeasonsMahjong&amp;bgcolor=white"></script>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

            </li>

            <li class="d-flex media my-4">
                <img style="width:80px;height:80px;margin-right:10px;" src="https://www.htmlgames.com/uploaded/game/thumb200/spiteandmalice200.jpg" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" style="color: darkgray">Spite and Malice</h5>
                        Play a relaxing game of solitaire against a computer to solve the cat-and-mouse dispute!<br>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                                Launch demo modal
                </button>


                <div class="modal fade bd-example-modal-xl" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">


                            <div style="background-color:#444;" class="d-flex justify-content-center modal-body">
                                <script src="https://cdn.htmlgames.com/embed.js?game=SpiteAndMalice&amp;bgcolor=white"></script>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </li>
        </ul>
    </div>
{% endblock %}